<head>
  <title>Pokédex</title>
</head>

<body class="overflow-x-hidden">
<div class="box rounded-1 abajo w-99 position-absolute overflow-hidden d-none d-xl-block">
  <br>
  <div class="row">
    <div class="col-5 offset-7 bg-dark text-white text-center fs-3">
      By Number
    </div>
    <br>
    <div class="col-3 offset-8 h-75 text-center fs-5 overflow-y-scroll">
      <div class="rounded-3 text-white row">
        <app-poke-collapse (selected)="onChanges($event)"></app-poke-collapse>
      </div>
    </div>
  </div>
</div>

<div class="w-75 d-inline-block overflow-hidden slider start-0 d-none d-xl-block">
  <div class="box rounded-1 arriba">
    <br>
    <div class="col-11 bg-light mb-5">
      <app-nav-bar></app-nav-bar>
    </div>
    <div>
      <img class="imagen" src="https://img.pokemondb.net/artwork/large/{{selected.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.jpg">
    </div>
  </div>
</div>

<div class="d-flex d-xl-none bg-danger text-white p-4 row">
  <div class="col-12">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="col-md-6 d-none d-md-block d-xl-none bg-white rounded-3 text-center">
    <img class="imagen" src="https://img.pokemondb.net/artwork/large/{{selected.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.jpg">
  </div>
  <div class="col-md-6 text-center overflow-y-scroll">
    <div class="rounded-3">
      <app-poke-collapse (selected)="onChanges($event)"></app-poke-collapse>
    </div>
  </div>
</div>

</body>
