<style>
  .pokeball {
    background: linear-gradient(to bottom, #d9534f 50%, white 50%);
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="rounded-3 border border-dark text-center pokeball" *ngFor="let move of moves">
        <div class="fs-6"><b> {{move.name}}</b></div>
        <hr>
        <div class="fs-6"><i>Power: <b>{{move.basePower}}</b> // Accuracy: <b>{{move.baseAccuracy}}</b></i></div>
        <br>
        <div class="fs-6"><i>Type: <b>{{move.type}}</b> // Category: <b>{{move.category}}</b></i></div>
        <hr>
        <div class="fs-6"> {{move.description}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
