
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <ion-img *ngIf="this.user.photo != ''" src="{{this.user.photo}}"></ion-img>
        <ion-img *ngIf="this.user.photo == ''" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
      </ion-avatar>
      <ion-item>{{this.user.email}}</ion-item>
      <ion-item>{{this.user.name}}</ion-item>
    </ion-item>

    <ion-item>
      <ion-button type="submit" (click)="signOut()" expand="block">Sign Out</ion-button>
    </ion-item>

    <ion-item>
      <form [formGroup]="form" (ngSubmit) = "onSubmit()">
        <h1>Register</h1>
        <ion-item>
          <ion-input type="text" placeholder="User name" formControlName="userName" class="rounded-3 p-3 col-9 my-2"></ion-input>
          <ion-item class="alert alert-danger col-4 my-2" *ngIf="name?.['errors'] && (name?.['dirty'] || name?.['touched'])">
            <p *ngIf="name?.['errors']?.required">Name is required.</p>
            <p *ngIf="name?.['errors']?.['minLength'] || name?.['errors']?.['maxLength']">The name must be longer than {{name?.['errors']?.['minLength']?.['requiredLength']}} characters and shorter than {{name?.errors?.maxlength?.requiredLength}} characters.</p>
          </ion-item>
        </ion-item>
        <br>
        <ion-item>
          <ion-input type="text" placeholder="Photo" formControlName="photo" class="rounded-3 p-3 col-9 my-2"></ion-input>
        </ion-item>

        <!--<ion-item class="row">
          <ion-input type="email" placeholder="E-Mail" formControlName="email" class="rounded-3 p-3 col-8 my-2"></ion-input>
          <ion-item class="alert alert-danger col-4 my-2" *ngIf=" email?.['errors'] && (email?.['dirty'] || email?.['touched'])">
            <p *ngIf="email?.['errors']?.required">E-Mail is required.</p>
            <p *ngIf="email?.['errors']?.email">E-Mail must be valid.</p>
          </ion-item>
        </ion-item>
        <br>

        <ion-item class="row">
          <ion-input type="password" name="password" placeholder="Password" formControlName="password" class="rounded-3 p-3 col-8 my-2"></ion-input>
          <ion-item  class="alert alert-danger col-4 my-2" *ngIf="passwd?.['errors'] && (passwd?.['dirty'] || passwd?.['touched'])">
            <p *ngIf="passwd?.['errors']?.required">Password is required.</p>
            <p *ngIf="passwd?.['errors']?.['minLength'] || passwd?.['errors']?.['maxLength']">The password must be longer than 6 characters and shorter than 30.</p>
          </ion-item>
        </ion-item>
        <br>

        <ion-item class="row">
          <ion-input type="password" name="password" placeholder="Repeat the password" formControlName="repeatPassword" class="rounded-3 p-3 col-8 my-2"></ion-input>
        </ion-item>-->
        <br>

        <ion-button type="submit" class="" [disabled]="form.invalid" >Register</ion-button>
      </form>
    </ion-item>
  </ion-list>
</ion-content>


