<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="log" (click)="route()">
        <ion-icon name="football">
        </ion-icon>
      </ion-button>
      <ion-button *ngIf="!log" (click)="route()" >
        <a>Log In</a>
      </ion-button>
    </ion-buttons>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let pokemon of pokedex; let i = index">
    <ion-item>
      <img src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.name.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.png">
      Nº{{pokemon.pnumber}} {{pokemon.name}}
      <ion-button slot="end" color="danger" routerLink="pokemon-detail" (ionFocus)="changeNames(pokemon)">PokéInfo</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
