<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="change()">
        <ion-icon *ngIf="!isfav" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isfav" name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label>
        <img src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.name.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.png">
        {{ pokemon.name }}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img src="https://img.pokemondb.net/artwork/large/{{pokemon.name.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.jpg">
    </ion-item>
    <ion-item>
      <ion-label><b>Classification: </b> {{pokemon.species}}
        <br>
        <b>Type (s): </b> {{pokemon.type1}} // {{pokemon.type2}}
        <br>
        <b>Weight: </b>
        {{pokemon.weight}} kg
        <br>
        <b>Height: </b>
        {{pokemon.height}} m</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Abilities: </b>
        {{pokemon.possibleAbilities[0]}},
        {{pokemon.possibleAbilities[1]}}
        <br>
        <b>Hidden Ability: </b>
        {{pokemon.possibleAbilities[2]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngFor="let move of pokemon.learnset">
            {{move.replace('-', ' ') | titlecase}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Health: {{pokemon.stats[0]}}<ion-progress-bar [value]="pokemon.stats[0] / 255"></ion-progress-bar></p>
        <p>Attack: {{pokemon.stats[1]}}<ion-progress-bar [value]="pokemon.stats[1] / 255"></ion-progress-bar></p>
        <p>Defense: {{pokemon.stats[2]}}<ion-progress-bar [value]="pokemon.stats[2] / 255"></ion-progress-bar></p>
        <p>Special Attack: {{pokemon.stats[3]}}<ion-progress-bar [value]="pokemon.stats[3] / 255"></ion-progress-bar></p>
        <p>Special Defense: {{pokemon.stats[4]}}<ion-progress-bar [value]="pokemon.stats[4] / 255"></ion-progress-bar></p>
        <p>Speed: {{pokemon.stats[5]}}<ion-progress-bar [value]="pokemon.stats[5] / 255"></ion-progress-bar></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
