<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let pokemon of sqlite.fav">
    <ion-item>
      <img src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.png">
      Nº{{generatePokemon(pokemon).pnumber}} {{generatePokemon(pokemon).name}}
      <ion-button slot="end" color="danger" routerLink="pokemon-detail" (ionFocus)="changeNames(generatePokemon(pokemon))">PokéInfo</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
