<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item button [routerLink]="['/pokedex']">
        <ion-thumbnail slot="start">
          <img src="assets/icon.png">
        </ion-thumbnail>
        <ion-label>Pokédex</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/abilitydex']">
        <ion-thumbnail slot="start">
          <img src="assets/icon.png">
        </ion-thumbnail>
        <ion-label>Abilitydex</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/naturedex']">
        <ion-thumbnail slot="start">
          <img src="assets/icon.png">
        </ion-thumbnail>
        <ion-label>Naturedex</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/movedex']">
        <ion-thumbnail slot="start">
          <img src="assets/icon.png">
        </ion-thumbnail>
        <ion-label>Movedex</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/itemdex']">
        <ion-thumbnail slot="start">
          <img src="assets/icon.png">
        </ion-thumbnail>
        <ion-label>Itemdex</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
